# Visualization Time Series Data - Pandas

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
# Python's date time library
from datetime import datetime

In [4]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [6]:
my_date = datetime(my_year, my_month, my_day)

In [7]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [8]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)

In [9]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [10]:
type(my_date_time)

datetime.datetime

In [11]:
my_date_time.day

2

In [12]:
first_two = [datetime(2016, 1, 1), datetime(2016, 1, 2)]

In [13]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [15]:
type(first_two)

list

## Creating a Dataframe

In [16]:
# convert to index
dt_ind = pd.DatetimeIndex(first_two)

In [17]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [18]:
data = np.random.randn(2, 2)
data

array([[-1.71235705, -2.61101665],
       [-0.82141405,  0.49332126]])

In [19]:
cols = ['a', 'b']

In [20]:
df = pd.DataFrame(data, index=dt_ind, columns=cols)

In [21]:
df

                   a         b
2016-01-01 -1.712357 -2.611017
2016-01-02 -0.821414  0.493321

In [22]:
df.index.argmax()

np.int64(1)

In [ ]:
# latest date in the index
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [25]:
df.index.argmin()

np.int64(0)

In [24]:
# earliest date in the index
df.index.min()

Timestamp('2016-01-01 00:00:00')